{% extends "base.html.twig" %}

{% block body %}
	<h1>
		{% block title %}
			Écrire un commentaire
		{% endblock %}
	</h1>

	{{form_start(form)}}
	<div class="grid">
		{{form_row(form.username)}}
		{{form_row(form.body)}}

		<button type="submit">Écrire un commentaire</button>
	</div>
	{{form_end(form)}}


	<a href="{{path('post_index')}}">Revenir à l'accueil</a>
{% endblock %}
