{% extends "base.html.twig" %}

{% block title %}Voir les posts
{% endblock %}

{% block body %}
	<h1>
		Bienvenue sur mon blog Symfony !
	</h1>

	{% if posts is defined %}
		{% for post in posts %}
			<h2>
				<a href="{{path('post_show', {id: post.id})}}">{{post.title}}</a>
			</h2>
			<p>{{post.body}}</p>
			<small>Nombre de likes :
				{{post.nbLikes}}.</small>
			<small>Créé le
				{{post.createdAt.format('d-m-Y')}}
				à
				{{post.updatedAt.format('H:i')}}.</small>
			{% if post.updatedAt %}
				<small>Dernier like le :
					{{post.updatedAt.format('d-m-Y')}}
					à
					{{post.updatedAt.format('H:i')}}.</small>
			{% endif %}
			<hr>
		{% endfor %}
	{% else %}
		Le post a bien été créé !
	{% endif %}
{% endblock %}
