{% extends "base.html.twig" %}

{% block body %}

	<h1>
		{% block title %}
			{{post.title}}
		{% endblock %}
	</h1>

	<p>{{post.body}}</p>

	<div class="buttons-container">
		<a href="{{path('post_like', {id: post.id})}}" role="button">+ 1 like</a>
		<a class="secondary" href="{{path('post_delete', {id: post.id})}}" role="button">Supprimer ce post</a>
	</div>

	<br>

	<small>Nombre de likes :
		{{post.nbLikes}}.</small>
	<small>Créé le
		{{post.createdAt.format('d-m-Y')}}.</small>
	{% if post.updatedAt %}
		<small>Dernier like le :
			{{post.updatedAt.format('d-m-Y')}}.</small>
	{% endif %}

{% endblock %}
